src/main/resources/META-INF/fragment-4.0.0.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
											elementFormDefault="qualified" 
											xmlns="http://maven.apache.org/POM/4.0.0" 
											targetNamespace="http://maven.apache.org/POM/4.0.0">
	<xs:include schemaLocation="http://maven.apache.org/xsd/maven-4.0.0.xsd"/>
	<xs:element name="plugin" type="PluginFragment">
		<xs:annotation>
			<xs:documentation source="version">3.0.0+</xs:documentation>
			<xs:documentation source="description">
				Fragment Plugin
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PluginFragment">
		<xs:complexContent>
			<xs:extension base="Plugin">
				<!--xs:sequence>
								<xs:element name="AdditionalElement" type="xs:string" />
				</xs:sequence-->
			</xs:extension>
		</xs:complexContent>
		<xs:all>
			<xs:element minOccurs="0" name="override">
				<xs:annotation>
					<xs:documentation source="version">0.0.0+</xs:documentation>
					<xs:documentation source="description">
						<p>The configuration as DOM object.</p>
						<p>This configuration override de default onfiguration of "configuration" tag.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ConfigurationOverride">
		
	</xs:complexType>
</xs:schema>
